
releases/linux/

releases/mac/

releases/windows/

SuperServ/bin/Release/netcoreapp2\.1/osx\.10\.14-x64/

SuperServ/bin/Release/netcoreapp2\.1/ubuntu\.16\.10-x64/

SuperServ/bin/Release/netcoreapp2\.1/win10-x64/

SuperServ/obj/netcoreapp2\.1/win10-x64/host/

SuperServ/obj/Release/netcoreapp2\.1/osx\.10\.14-x64/

SuperServ/obj/netcoreapp2\.1/osx\.10\.14-x64/host/

SuperServ/obj/netcoreapp2\.1/ubuntu\.16\.10-x64/host/

SuperServ/obj/Release/netcoreapp2\.1/ubuntu\.16\.10-x64/

SuperServ/obj/Release/netcoreapp2\.1/win10-x64/

*.cache

SuperServ/obj/SuperServ\.csproj\.nuget\.g\.props
